<div class="container">
 <div class="row my-row">
  
	 <div class="col-xs-5" id="inline">
		
			<br>
 			<input class="form-control" placeholder="Miasto" ng-model="city"/>	
           	 
	 </div>
	 <div class="col-xs-5" id="inline">
		
		<br>
		<input class="form-control" placeholder="Specjalizacja" ng-model="spec"/>		 
	 </div>
	<br>
	<div class="col-xs-2">
	 	<span class="input-group-btn">
	 		<button class="btn btn-default" ng-click="onSearch(city, spec)">Szukaj</button>
		</span>
	</div>
  </div>
 
</div>